DADOS_TREINAMENTO
Datasets
Referencias
HRTF_interpolation_in_3D
Python


*.sofa
*.asv
*.wav
*.py
*.pdf
*.rar 

PCA_experimental.m
NeuralNet_experimental.m
DEEPnet_experimental.m

data_aumentation.m
HyperparameterTunning.m
Simulation_Erro_VIK.m
desvios_padrao.m
desvios_padrao.xltx
test_Data_augmentation.m